@model SaveYourMoney_MVC.ViewModels.ExpenseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Expense Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Expense Management</h1>

        <div class="row mb-3">
            <div class="col-auto">
                <label for="datePicker" class="form-label">Select Date:</label>
                <input type="date" id="datePicker" class="form-control">
            </div>
            <div class="col-auto">
                <label for="typeFilter" class="form-label">Filter by Type:</label>
                <select id="typeFilter" class="form-select">
                    <option value="">All</option>
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
            </div>
            <div class="col-auto">
                <button id="filterButton" class="btn btn-primary mt-4">Filter</button>
            </div>
            <div class="col-auto">
                <button asp-controller="Expense" asp-action="AddExpense" class="btn btn-primary mb-4" id="addExpenseButton" data-bs-toggle="modal" data-bs-target="#addExpenseModal" data-url="@Url.Action("AddExpense", "Expense")">Add an Expense</button>
            </div>
        </div>

        <div id="expenseTable">
            <!-- Expense table will be loaded here -->
            @Html.Partial("_ExpenseTablePartial", Model)
        </div>
    </div>

    <!-- Add Expense Modal -->
    <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExpenseModalLabel">Add New Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="addExpenseModalBody">
                    <!-- Content will be loaded dynamically here -->
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#filterButton').click(function () {
                var date = $('#datePicker').val();
                var type = $('#typeFilter').val();
                filterExpenses(date, type);
            });

            $('#datePicker').keypress(function (e) {
                if (e.which == 13) {
                    var date = $(this).val();
                    var type = $('#typeFilter').val();
                    filterExpenses(date, type);
                }
            });

            $('#typeFilter').change(function () {
                var date = $('#datePicker').val();
                var type = $(this).val();
                filterExpenses(date, type);
            });

            $('#addExpenseModal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var url = '@Url.Action("AddExpense", "Expense")';
                modal.find('.modal-body').load(url);
            });
        });

        function filterExpenses(date, type) {
            $.ajax({
                url: '@Url.Action("FilterExpenses", "Expense")',
                type: 'GET',
                data: { date: date, type: type },
                success: function (result) {
                    $('#expenseTable').html(result);
                }
            });
        }
    </script>
</body>
</html>
